<!doctype html>
<html>
<head>
	<title>Xanny Bakes</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<link rel="stylesheet" href="assets/xannybakes.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				
				<div class="logo">
					<img class="center" src="assets/xannybakes.testlogo.png">
				</div>
			</div>	
		</div>
	</div>


	<div class="container with-padding gallery">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img01.jpg" alt="whinnie the pooh cake">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img02.jpg" alt="cute cake">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img03.jpg" alt="wedding cake with gold">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img04.jpg" alt="chocolate cake with chocolate ganache">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img05.jpg" alt="cupcakes with animal coins">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img06.jpg" alt="lemon meringue pie">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img07.jpg" alt="chocolate cake with chocolate ganache">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img08.jpg" alt="cupcakes with animal coins">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img09.jpg" alt="lemon meringue pie">
			</div>
		</div>	

		<div class="row">
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img10.jpg" alt="chocolate cake with chocolate ganache">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img11.jpg" alt="cupcakes with animal coins">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img12.jpg" alt="lemon meringue pie">
			</div>
		</div>	

		<div class="row">
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img13.jpg" alt="chocolate cake with chocolate ganache">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img14.jpg" alt="cupcakes with animal coins">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img15.jpg" alt="lemon meringue pie">
			</div>
		</div>		

	</div>



	<div class="stickyfooter">
		<div class="container">
			<div class="row row-orange">
				<div class="instagram col-md-4 footer text-center">
					<h3>Follow me on instagram</h3>

				</div>
				
				<div class="about">
					<div class="col-md-2">
						<img src="assets/gallery/profile01.jpg" alt="Profile picture Alexandra Hale" class="img-circle ">
					</div>
					<div class="col-md-2">
						<h3>About Xanny Bakes</h3>
						<p>Alexandra Hale confectionary artist | learned from the best at bonnie gordon college</p> 
					</div>
				</div>

				<div class="container contact col-md-4 footer text-center">	
					<h3>Contact Info</h3>
					<ul class="list-unstyled">
						<li>Alexandra Hale</li>
						<li>Phone Number</li>
						<li>Vancouver, BC</li>
					</ul>
				</div>	


			</div>
		</div>

		
	</div>
</body>
</html>