<!doctype html>
<html>
<head>
	<title>Xanny Bakes</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="assets/xannybakes.css">

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src="assets/app.js"></script>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<div class="row">				
				<div class="logo">
					<img class="center" src="assets/xannybakes.testlogo.png">
				</div>
			</div>	
		</div>
	</div>


	<div class="container with-padding gallery">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img01.jpg" alt="whinnie the pooh cake">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img02.jpg" alt="cute cake">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img03.jpg" alt="wedding cake with gold">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img04.jpg" alt="chocolate cake with chocolate ganache">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img05.jpg" alt="cupcakes with animal coins">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img06.jpg" alt="lemon meringue pie">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img07.jpg" alt="chocolate cake with chocolate ganache">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img08.jpg" alt="cupcakes with animal coins">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img09.jpg" alt="lemon meringue pie">
			</div>
		</div>	

		<div class="row">
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img10.jpg" alt="chocolate cake with chocolate ganache">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img11.jpg" alt="cupcakes with animal coins">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img12.jpg" alt="lemon meringue pie">
			</div>
		</div>	

		<div class="row">
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img13.jpg" alt="chocolate cake with chocolate ganache">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img14.jpg" alt="cupcakes with animal coins">
			</div>
			<div class="col-xs-12 col-md-4">
				<img src="assets/gallery/img15.jpg" alt="lemon meringue pie">
			</div>
		</div>		

	</div>



	<div class="stickyfooter">
		<div class="container">
			<div class="row">

				
				<div class="col-md-2">
					<div class="stop">
						<img src="assets/gallery/profile01.jpg" alt="Profile picture Alexandra Hale" class="img-circle">
					</div>	
				</div>
				<div class="about col-md-4">
					<h1>About Xanny Bakes</h1>
					<p>Alexandra Hale confectionary artist | learned from the best at bonnie gordon college</p>
					<a href="https://www.instagram.com/xannybakes/"><i class="fa fa-instagram"></i></a>

				</div>
				

				<div class="contact col-md-6">
					<h2>Get in touch</h2>
					<form>
						<div class="row">
							<div class="col-xs-6">
								<input type="name" class="form-control" placeholder="Name">
							</div>

							<div class="col-xs-6">
								<input type="email" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<textarea class="form-control textarea" rows="6" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<button type="submit" class="btn btn-default">Send</button>
							</div>
						</div>
					</form>
				</div>	

			</div>
		</div>
		
	</div>
</body>
</html>